<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.capsule.springcloud.cnh.hub.service.mapper.PredictHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.capsule.springcloud.cnh.hub.service.pojo.PredictHistory" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="image_name" property="imageName" jdbcType="VARCHAR" />
    <result column="predict_reslut" property="predictReslut" jdbcType="VARCHAR" />
    <result column="predict_time" property="predictTime" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="train_model_id" property="trainModelId" jdbcType="VARCHAR" />
    <result column="train_model_name" property="trainModelName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, image_name, predict_reslut, predict_time, user_name, image, start_time,
    train_model_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.PredictHistoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from predict_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT ph.*,tm.train_model_name
    FROM predict_history ph,train_model tm
    WHERE ph.train_model_id=tm.id
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from predict_history
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from predict_history
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.PredictHistoryExample" >
    delete from predict_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.PredictHistory" >
    insert into predict_history (id, user_id, image_name,
      predict_reslut, predict_time, user_name,
      image, start_time, train_model_id
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{imageName,jdbcType=VARCHAR},
      #{predictReslut,jdbcType=VARCHAR}, #{predictTime,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
      #{image,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, #{trainModelId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.PredictHistory" >
    insert into predict_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="imageName != null" >
        image_name,
      </if>
      <if test="predictReslut != null" >
        predict_reslut,
      </if>
      <if test="predictTime != null" >
        predict_time,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="trainModelId != null" >
        train_model_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="imageName != null" >
        #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="predictReslut != null" >
        #{predictReslut,jdbcType=VARCHAR},
      </if>
      <if test="predictTime != null" >
        #{predictTime,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="trainModelId != null" >
        #{trainModelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.PredictHistoryExample" resultType="java.lang.Integer" >
    select count(*) from predict_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update predict_history
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.imageName != null" >
        image_name = #{record.imageName,jdbcType=VARCHAR},
      </if>
      <if test="record.predictReslut != null" >
        predict_reslut = #{record.predictReslut,jdbcType=VARCHAR},
      </if>
      <if test="record.predictTime != null" >
        predict_time = #{record.predictTime,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.trainModelId != null" >
        train_model_id = #{record.trainModelId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update predict_history
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      image_name = #{record.imageName,jdbcType=VARCHAR},
      predict_reslut = #{record.predictReslut,jdbcType=VARCHAR},
      predict_time = #{record.predictTime,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      image = #{record.image,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=VARCHAR},
      train_model_id = #{record.trainModelId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.PredictHistory" >
    update predict_history
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="imageName != null" >
        image_name = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="predictReslut != null" >
        predict_reslut = #{predictReslut,jdbcType=VARCHAR},
      </if>
      <if test="predictTime != null" >
        predict_time = #{predictTime,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="trainModelId != null" >
        train_model_id = #{trainModelId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.PredictHistory" >
    update predict_history
    set user_id = #{userId,jdbcType=VARCHAR},
      image_name = #{imageName,jdbcType=VARCHAR},
      predict_reslut = #{predictReslut,jdbcType=VARCHAR},
      predict_time = #{predictTime,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      train_model_id = #{trainModelId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
