<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.capsule.springcloud.cnh.hub.service.mapper.TrainHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.capsule.springcloud.cnh.hub.service.pojo.TrainHistory" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="train_epochs" property="trainEpochs" jdbcType="VARCHAR" />
    <result column="train_time" property="trainTime" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="train_model_name" property="trainModelName" jdbcType="VARCHAR" />
    <result column="train_model_id" property="trainModelId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, user_name, train_epochs, train_time, start_time, train_model_name, train_model_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.TrainHistoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from train_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectAllTrainHistory" resultMap="BaseResultMap" parameterType="com.capsule.springcloud.cnh.dto.TrainHistoryDto">
    select *
    from train_history
    <where>
      <if test="trainModelName != null and trainModelName != '' ">
        and train_model_name= #{trainModelName,jdbcType=VARCHAR}
      </if>
      <if test="trainEpochs != null and trainEpochs != '' ">
        and train_epochs=#{trainEpochs,jdbcType=VARCHAR}
      </if>
      <if test="userName != null and userName != '' ">
        and user_name=#{userName,jdbcType=VARCHAR}

      </if>
    </where>

  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from train_history
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from train_history
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.TrainHistoryExample" >
    delete from train_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.TrainHistory" >
    insert into train_history (id, user_id, user_name,
      train_epochs, train_time, start_time,
      train_model_name, train_model_id)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
      #{trainEpochs,jdbcType=VARCHAR}, #{trainTime,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR},
      #{trainModelName,jdbcType=VARCHAR}, #{trainModelId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.TrainHistory" >
    insert into train_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="trainEpochs != null" >
        train_epochs,
      </if>
      <if test="trainTime != null" >
        train_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="trainModelName != null" >
        train_model_name,
      </if>
      <if test="trainModelId != null" >
        train_model_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="trainEpochs != null" >
        #{trainEpochs,jdbcType=VARCHAR},
      </if>
      <if test="trainTime != null" >
        #{trainTime,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="trainModelName != null" >
        #{trainModelName,jdbcType=VARCHAR},
      </if>
      <if test="trainModelId != null" >
        #{trainModelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.TrainHistoryExample" resultType="java.lang.Integer" >
    select count(*) from train_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update train_history
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.trainEpochs != null" >
        train_epochs = #{record.trainEpochs,jdbcType=VARCHAR},
      </if>
      <if test="record.trainTime != null" >
        train_time = #{record.trainTime,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.trainModelName != null" >
        train_model_name = #{record.trainModelName,jdbcType=VARCHAR},
      </if>
      <if test="record.trainModelId != null" >
        train_model_id = #{record.trainModelId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update train_history
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      train_epochs = #{record.trainEpochs,jdbcType=VARCHAR},
      train_time = #{record.trainTime,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=VARCHAR},
      train_model_name = #{record.trainModelName,jdbcType=VARCHAR},
      train_model_id = #{record.trainModelId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.TrainHistory" >
    update train_history
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="trainEpochs != null" >
        train_epochs = #{trainEpochs,jdbcType=VARCHAR},
      </if>
      <if test="trainTime != null" >
        train_time = #{trainTime,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="trainModelName != null" >
        train_model_name = #{trainModelName,jdbcType=VARCHAR},
      </if>
      <if test="trainModelId != null" >
        train_model_id = #{trainModelId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.capsule.springcloud.cnh.hub.service.pojo.TrainHistory" >
    update train_history
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      train_epochs = #{trainEpochs,jdbcType=VARCHAR},
      train_time = #{trainTime,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      train_model_name = #{trainModelName,jdbcType=VARCHAR},
      train_model_id = #{trainModelId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
